::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #353535;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  transition: border-right-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}
