.student-zadaci ul {
  border: none;
}
.student-zadaci ul li{
    background-color: white;
    color:#3C6E71;
    border:none;
    width:100%;
padding:5px;   
 margin-top: 20px;
}

.zadatak-div button{
    background-color: white;
    color:#353535;
    font-weight: bold;
    margin: 10px 5px;
    
}
.container{
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;;
    justify-content: space-evenly;
    
}
.zadatak-div{
    border-radius: 10px;
}
.zadatak-div textarea{
    background-color: #353535;
    color: white;
    outline: none;
    border-radius: 10px;
}
#tekst{
    color:white;
    background-color: #353535;
    font-size: 18px;
}
.student-zadaci ul li {
  background-color: white;
  color: #3c6e71;
  border: none;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.zadatak-div button {
  background-color: white;
  border: none;
  color: #3c6e71;
  font-weight: bold;
  margin: 10px 5px;
}
.container {
  width: 75%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.zadatak-div textarea {
  background-color: white;
  color: #3c6e71;
  outline: none;
}
#tekst {
  color: #3c6e71;
  background-color: white;
  font-size: 18px;
}

.img-bcg {
  background-image: url("./memsetLogo.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-bcg2 {
  background-image: url("./AIcodeJudgeLogo-NoBg.png");
  background-size: cover;
  background-position: center;
}
.testovi div{
background-color: white;
border:1px solid #353535;
}
.header button{
    border-radius: 0px;
    transition:.2s;
    font-size: 18px;
    
}
.header button:focus{
    border-bottom: 2px solid #353535;
    
}